<% @widget_title = 'Number of projects / Language'

   def createGlobalWidget()
     nb_all = 0
     last_snapshot_ids_by_language = Project.find(:all,
        :select => 'language, snapshots.id AS root_id',
        :joins => :snapshots,
        :conditions => ['snapshots.islast = ? AND snapshots.root_snapshot_id IS NULL AND snapshots.qualifier = ?', true, 'TRK'],
        :order => 'language ASC')

     hash = {}

     for last_snapshot_ids in last_snapshot_ids_by_language
       if hash[last_snapshot_ids.language] == nil 
         hash[last_snapshot_ids.language] = [last_snapshot_ids.root_id]
       else
         hash[last_snapshot_ids.language] = hash[last_snapshot_ids.language] << last_snapshot_ids.root_id
       end
     end

     hash.each_key { |key|
       nb_all += hash[key].length
       hash[key] = hash[key].length
     }

     cell =  '  <table width="100%"><tr><td valign="top" width="30%"><div class="dashbox">'
     cell += '      <table align="left" class="data">'
     measure_piechart = ''
     position = 0

     hash.each { |key, value|
       if (position % 2) == 1
         cell += '       <tr class="odd">'
       else
         cell += '       <tr class="even">'
       end
       position += 1
       cell += '           <td align="left" width="30px"><h4 style="font-size: 12px;">'
       cell += key
       cell += '        </h4></td><td align="right" width="80px">'
       cell += number_with_delimiter(value.to_i).to_s
       cell += '        </td></tr>'
       the_percentage = ((value.to_f/nb_all)*100).round(1)
       measure_piechart += key + '=' + the_percentage.to_s + ';'
     }

     if (position % 2) == 1
       cell += '         <tr class="odd">'
     else
       cell += '         <tr class="even">'
     end
     cell += '             <td align="left"><h4 style="font-size: 12px;">Total</h4></td>'
     cell += '             <td align="right">'
     cell += number_with_delimiter(nb_all).to_s
     cell += '             </td></tr>'
     query="ck=languagesPie&w=280&h=200&v=" + u(measure_piechart)
     cell += '      </table>'
     cell += '    </div></td><td width="70%">'
     cell += '    <div class="dashbox" id="div_chart">'
     cell += '      <div id="div_percentage" class="chart">'
     cell += chart(query)
     cell += '      </div>'
     cell += '    </div>'
     cell += '  </td></tr></table>'

     cell
   end %>

<%= createGlobalWidget() %>
